* {
  margin: 0px;
  padding: 0px;
}


/* font links  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* shared style  */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


:root {
  --btn-primary-color: #E6533C;
  --btn-secondary-color: rgba(255, 255, 255, 0.5);
  --bg-color: #000;
  --footer-bg-color: rgba(255, 255, 255, 0.10);
}


body {
  background-color: var(--bg-color);
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


/* navbar style  */
.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}


.logo {
  color: var(--btn-primary-color);
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.menu-icon {
  display: none;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
}

.navbar-home {
  padding: 8px 20px;
  background-color: var(--btn-primary-color);
  border: none;
  border-radius: 46px;
  font-weight: 600;
}

/* hero style  */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.hero-title {
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  line-height: 120%;
}

.hero-shape {
  font-weight: 400;
  font-family: "Miama", sans-serif;
  font-style: italic;
}

.hero-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 28px;
  margin-bottom: 28px;
}

.hero-title,
.hero-description {
  max-width: 520px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  margin: 5px;
  border-radius: 42px;
  font-size: 1rem;
}

.primary {
  background-color: var(--btn-primary-color);
}

.secondary {
  background-color: #000;
  border: 1px solid #FFF;

}

.hero-img {
  position: relative;
}


/* change your habits section  */

.habits {
  margin: 100px 0px;
}

.habits-title {
  text-align: center;
  color: #FFF;
  font-size: 3rem;
  font-weight: 900;
}


.habits-description {
  text-align: center;
  color: var(--btn-secondary-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 14px 0px 58px 0px;
}

.habit-cards {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
  gap: 40px;
}

.habit-card img {
  border-radius: 50%;
  border: 2px solid #6b6b6d;
}

.habit-card-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 6px;
}

.habit-card-description {
  font: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);

}


/* Extra Mile Section */

.extra-mile {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 30px 32px 29px 54px;
  border-radius: 18px;
  background-color: #222;
  gap: 165px;
}

.extra-mile img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  object-fit: cover;
}


.extra-mile-title {
  font-size: 3rem;
  font-weight: 900;
  color: #FFF;
  max-width: 443px;

}

.extra-mile-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);
  margin-top: 14px;
  max-width: 443px;
}

.extra-mile-btn {
  border: none;
  padding: 16px 40px;
  border-radius: 42px;
  background-color: var(--btn-primary-color);
  color: #FFF;
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 34px;
}

/* trainings and exercises section  */
.trainings {
  margin: 100px 0px;
}

.trainings-title {
  font-size: 3rem;
  font-weight: 900;
  color: #FFF;
}

.trainings-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--btn-secondary-color);
  max-width: 680px;
  margin-top: 14px;
  margin-bottom: 58px;
}


.training-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.training-item {
  height: 200px;
}

.training-item-img1 {
  background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url(../images/exercise1.jpg) lightgray 50% / cover no-repeat;
  position: relative;
}

.training-item1 {
  position: absolute;
  bottom: 35px;
  left: 20px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

.training-item-img2 {
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url(../images/exercise2.png) lightgray -0.336px 0px / 100.125% 111.811% no-repeat;
  position: relative;
}

.training-item2 {
  position: absolute;
  top: 35px;
  left: 20px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

.training-item-img3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise3.png) lightgray 50% / cover no-repeat;
  position: relative;
}

.training-item3 {
  position: absolute;
  bottom: 35px;
  left: 20px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

.training-item-img4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise4.png) lightgray 50% / cover no-repeat;
  position: relative;
}

.training-item4 {
  position: absolute;
  top: 35px;
  right: 20px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

.training-item-img5 {
  background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url(../images/exercise5.jpg) lightgray 50% / cover no-repeat;
  position: relative;
}

.training-item5 {
  position: absolute;
  bottom: 35px;
  left: 20px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

.training-item-img6 {
  background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url(../images/exercise6.jpg) lightgray 50% / cover no-repeat;
  position: relative;
}

.training-item6 {
  position: absolute;
  bottom: 35px;
  left: 20px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

/* MEMBERSHIP PLANS */
.membership {
  font-size: 3rem;
  font-weight: 900;
  color: #FFF;
  margin-bottom: 58px;
  text-align: center;
}

.plans {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin-bottom: 100px;


}

.cards {
  background-color: #222;
  width: 500px;
  height: 600px;
  /* margin-right: 10px; */
  border-radius: 10px;

}

.plan-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFF;
  background-color: var(--btn-primary-color);
  border-radius: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.premium span,
.standard span,
.basic span {
  font-size: 3rem;
  color: red;
  font-weight: 600;
}

.premium h1,
.standard h1,
.basic h1 {
  margin-top: 15px;
}

.premium sub,
.standard sub,
.basic sub {
  color: #FFF;
}

.plan-durration,
.plan-trainer,
.plan-amount,
.plan-visit {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--btn-secondary-color);
  margin-top: 15px;
}

.plan-month,
.plan-person,
.plan-personNo,
.plan-limit {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFF;
  margin-top: 15px;
}

.plan-btn {
  padding: 20px 40px;
  font-size: 1.5rem;
  border: 1px solid #E6533C;
  background-color: #222;
  color: #FFF;
  margin: 15px 0px;
  cursor: pointer;
}

.plan-btn:hover {
  background-color: var(--btn-primary-color);
  border: none;
}


/* BMI Calculator Section */

.bmi-section {
  margin-bottom: 88px;
}

.bmi {
  margin-left: 20%;
}

.bmi-title {
  font-size: 3rem;
  font-weight: 900;
  color: #FFF;
  margin-bottom: 14px;
}

.bmi-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--btn-secondary-color);
  max-width: 680px;
  margin-bottom: 88px;
}

.bmi-bg {
  background-color: #222;
}

.bmi-calc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;

}

.bmi-chart,
.bmi-form {
  flex: 1;
  margin-top: 52px;
  margin-bottom: 50px;
}

.bmi-chart h1 {
  font-size: 1.75rem;
  font-weight: 900;
  color: #FFF;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}


table,
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.10);
}



th {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: #FFF;

}

td {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);
}

th,
td {
  height: 30px;
  padding: 15px;
}

.bmi-form h1 {
  font-size: 1.75rem;
  font-weight: 900;
  color: #FFF;
  margin-bottom: 28px;
}

.bmi-form p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);
  margin-bottom: 38px;
}

.input-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.input-group input,
.input-group select,
.full-width select {
  flex: 1;
  padding: 12px 40px 12px 20px;
  background-color: #333;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 20px;
}

.full-width select {
  width: 100%;
}


input::placeholder {
  color: #ccc;
}

select {
  color: #ccc;
}


select:focus {
  outline: none;
}

.button {
  padding: 16px 40px;
  font-size: 1.15rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--btn-primary-color);
  border: none;
  border-radius: 42px;
  cursor: pointer;
  width: 224px;
  margin-top: 34px;

}

/* Team Section  */
.team {
  text-align: center;
  margin-bottom: 100px;
}

.team-title {
  margin-bottom: 14px;
  font-size: 3rem;
  font-weight: 900;
  color: #FFF;
}

.team-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--btn-secondary-color);
  max-width: 680px;
  margin: auto;
  margin-bottom: 58px;
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 18px;
  padding: 20px;
}

.team-card img {
  height: 272px;
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}

.team-card {
  position: relative;
}

.trainer-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px 15px;
  text-align: left;
}

.trainer-details h3 {
  font-size: 1.2rem;
  margin: 0;
}

.trainer-details p {
  font-size: 0.9rem;
  margin: 0;
  color: #ccc;
}

/* footer section  */

footer {
  background-color: rgba(255, 255, 255, 0.10);
  padding: 20px 15px;
  color: #fff;
}



.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 102px;
  flex-wrap: wrap;

}

.footer {
  flex: 1;
  min-width: 250px;
}

.footer-title {
  font-size: 4rem;
  color: #ff6243;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 800;
}

.footer-description {
  font-size: 1rem;
  color: #ccc;
  max-width: 444px;
}

.footer-link {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 120px;
  flex-wrap: wrap;
  min-width: 250px;
}

.footer-link div {
  flex: 1;
  min-width: 150px;
}

.footer-link h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.footer-link a {
  display: block;
  color: rgba(255, 255, 255, 0.50);
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 8px;


}


hr {
  border: 0;
  height: 1px;
  background: #444;
  margin: 40px 0px 20px 0px;
}

.footer-text {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
}


/* responsive style  */

/* mobile device  */

@media screen and (max-width:576px) {

  .navbar {
    flex-direction: row;


  }

  .hero {
    flex-direction: column;

  }

  .hero-title {
    font-size: 2.25rem;
    margin-top: 50px;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .habit-cards {
    flex-direction: column;
  }

  .habits {
    margin: 0px;
  }

  .habits-title {
    font-size: 2rem;
  }

  .habits-description {
    font-size: 1rem;
  }

  .extra-mile {
    flex-direction: column;
    gap: 24px;
    margin-top: 66px;
    padding: 20px;
  }

  .extra-mile-title {
    font-size: 2rem;
  }

  .extra-mile img {
    width: 287px;
    height: 170px;
  }

  .bmi {
    margin: 30px;
  }

  .bmi-title {
    font-size: 2rem;
  }

  .bmi-calc {
    flex-direction: column;
    gap: 20px;
  }

  .bmi-chart,
  .bmi-form {
    flex: none;
    width: 100%;
    margin: 0;
  }

  .full-width select {
    width: 100%;
  }

  .button {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .training-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .plans {
    flex-direction: column;
  }

  .cards {
    width: 100%;
    /* height: 100%; */
  }



  .team-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-links {
    flex-direction: column;
    text-align: start;
  }

  .footer-link {
    flex-direction: column;
    justify-content: start;
  }

  .footer {
    text-align: start;
  }

  .footer-links {
    gap: 20px;
  }

  .footer-link {
    gap: 20px;
  }




}

/* tablet device  */
