* {
  margin: 0px;
  padding: 0px;
}


/* font links  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* shared style  */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


:root {
  --btn-primary-color: #E6533C;
  --btn-secondary-color: rgba(255, 255, 255, 0.5);
  --bg-color: #000;
  --footer-bg-color: rgba(255, 255, 255, 0.10);
}


body {
  background-color: var(--bg-color);
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


/* navbar style  */
.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}


.logo {
  color: var(--btn-primary-color);
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.menu-icon {
  display: none;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
}

.navbar-home {
  padding: 8px 20px;
  background-color: var(--btn-primary-color);
  border: none;
  border-radius: 46px;
  font-weight: 600;
}

/* hero style  */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.hero-title {
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  line-height: 120%;
}

.hero-shape {
  font-weight: 400;
  font-family: "Miama", sans-serif;
  font-style: italic;
}

.hero-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 28px;
  margin-bottom: 28px;
}

.hero-title,
.hero-description {
  max-width: 520px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  margin: 5px;
  border-radius: 42px;
  font-size: 1rem;
}

.primary {
  background-color: var(--btn-primary-color);
}

.secondary {
  background-color: #000;
  border: 1px solid #FFF;

}

.hero-img {
  position: relative;
}


/* change your habits section  */

.habits {
  margin: 100px 0px;
}

.habits-title {
  text-align: center;
  color: #FFF;
  font-size: 3rem;
  font-weight: 900;
}


.habits-description {
  text-align: center;
  color: var(--btn-secondary-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 14px 0px 58px 0px;
}

.habit-cards {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
  gap: 40px;
}

.habit-card img {
  border-radius: 50%;
  border: 2px solid #6b6b6d;
}

.habit-card-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 6px;
}

.habit-card-description {
  font: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);

}


/* Extra Mile Section */

.extra-mile {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 30px 32px 29px 54px;

  border-radius: 18px;
  background-color: #222;
  gap: 165px;
}

.extra-mile img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  object-fit: cover;
}


.extra-mile-title {
  font-size: 3rem;
  font-weight: 900;
  color: #FFF;
  max-width: 443px;

}

.extra-mile-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);
  margin-top: 14px;
  max-width: 443px;
}

.extra-mile-btn {
  border: none;
  padding: 16px 40px;
  border-radius: 42px;
  background-color: var(--btn-primary-color);
  color: #FFF;
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 34px;
}

/* responsive style  */

/* mobile device  */

@media screen and (max-width:576px) {

  .navbar {
    flex-direction: row;


  }

  .hero {
    flex-direction: column;

  }

  .hero-title {
    font-size: 2.25rem;
    margin-top: 50px;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .habit-cards {
    flex-direction: column;
  }

  .habits {
    margin: 0px;
  }

  .habits-title {
    font-size: 2rem;
  }

  .habits-description {
    font-size: 1rem;
  }
  .extra-mile{
    flex-direction: column;
    gap: 24px;
    margin-top: 66px;
  }
  .extra-mile-title{
    font-size: 2rem;
  }
  

}

/* tablet device  */
